<div class="container-fluid w-100">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <div class="card w-50">
      <div class="card-body">
        <form (submit)="submit()" [formGroup]="userForm">
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="nombre"
              type="text"
              placeholder="Nombre"
              data-sb-validations="required"
              autofocus
              formControlName="firstName"
            />
            <label for="nombre">Nombre</label>
            <div class="invalid-feedback" data-sb-feedback="nombre:required">
              Nombre es requerido.
            </div>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="apellidos"
              type="text"
              placeholder="Apellidos"
              data-sb-validations="required"
              formControlName="lastName"
            />
            <label for="apellidos">Apellidos</label>
            <div class="invalid-feedback" data-sb-feedback="apellidos:required">
              Apellidos es requerido.
            </div>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="telefono"
              type="text"
              placeholder="Telefono"
              data-sb-validations="required"
              formControlName="phone"
              [mask]="'(000) 000-0000'"
              [showMaskTyped]="true"
            />
            <label for="telefono">Telefono</label>
            <div class="invalid-feedback" data-sb-feedback="telefono:required">
              Telefono es requerido.
            </div>
          </div>
          <div class="form-floating mb-3">
            <select
              class="form-select"
              id="genero"
              aria-label="Genero"
              formControlName="gender"
            >
              <option [value]="a.key" *ngFor="let a of availableGender">
                {{ a.value }}
              </option>
            </select>
            <label for="genero">Guardar</label>
          </div>
          <div class="d-grid">
            <button
              class="btn btn-primary btn-lg"
              id="submitButton"
              type="submit"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
