<div class="page-content w-100">
  <div
    class="col-12 d-flex flex-column justify-content-center align-items-center"
  >
    <div class="m-5">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="card w-50 border-0">
      <div class="card-header bg-white d-flex justify-content-between">
        <span>Servicios Registrados</span>
        <button (click)="open(content)" class="btn btn-primary btn-sm">Agregar</button>
      </div>
      <div class="card-body px-0 pb-0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Service</th>
              <th scope="col">Cost</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of user.artistProfile?.services; index as i">
              <td>
                {{ s.service }}
              </td>
              <td>{{ s.cost | currency }}</td>
              <td>
                  <button class="btn btn-outline-danger btn-sm">D</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <form [formGroup]="form" (submit)="createService()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="form-floating mb-3">
        <select
          class="form-select"
          (ngModelChange)="selectCategory($event)"
          id="categoria"
          aria-label="Categoria"
          formControlName="category"
        >
          <option value="0">Selecciona una Categoria</option>
          <option [value]="c.publicId" *ngFor="let c of categories">
            {{ c.displayName }}
          </option>
        </select>
        <label for="categoria">Categoria</label>
      </div>
      <div class="form-floating mb-3">
        <select
          class="form-select"
          id="servicio"
          aria-label="Servicio"
          formControlName="service"
          [disabled]="true"
        >
          <option [value]="c.publicId" *ngFor="let c of services">
            {{ c.displayName }}
          </option>
        </select>
        <label for="servicio">Servicio</label>
      </div>
      <div class="form-floating mb-3">
        <input
          class="form-control"
          id="precio"
          type="number"
          placeholder="Precio"
          data-sb-validations="required"
          formControlName="cost"
        />
        <label for="precio">Precio</label>
        <div class="invalid-feedback" data-sb-feedback="precio:required">
          Precio is required.
        </div>
      </div>
      <div class="d-none" id="submitSuccessMessage">
        <div class="text-center mb-3">
          <div class="fw-bolder">Form submission successful!</div>
          <p>To activate this form, sign up at</p>
          <a href="https://startbootstrap.com/solution/contact-forms"
            >https://startbootstrap.com/solution/contact-forms</a
          >
        </div>
      </div>
      <div class="d-none" id="submitErrorMessage">
        <div class="text-center text-danger mb-3">Error sending message!</div>
      </div>
      <div class="d-grid">
        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">
          Guardar
        </button>
      </div>
    </div>
  </form>
</ng-template>
