<div class="d-flex justify-content-around">
  <button class="card" (click)="createConsumerProfile()">
    <div class="card-body">
      <h5 class="card-title">Busco Servicios</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </button>

  <button class="card" (click)="createArtistProfile()">
    <div class="card-body">
      <h5 class="card-title">Brindo Servicios</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
  </button>
</div>
